<%= form_for [@quotation, @invoice], remote:true do |f| %>
  <h4 class="suggested-title">Suggested Price: $<%= @quotation.suggested_price %></h4>
  <label class="label-title">Price($USD):</label>
  <%= f.text_field :price, class: "validate invoice-price-input", :html=>{:id=>"icon_prefix"} ,required: true,layout: false%>
  <%= f.submit%>
 
 <% end %>

<%= javascript_include_tag "form_invoice" %>