<h4>new</h4>
<%= form_for @conversation, html:{id: "create-conversation", data-turbolinks:"false"},remote:true do |f| %>

<div class="form-group">
	<%= f.label "Name" %>
   <%= f.text_field :name , placeholder: "write your name here", class: "form-control"%>
</div>

<div class="form-group">
	<%= f.label "Email:" %>
    <%= f.text_field :mail , placeholder: "youremail@example.com", class: "form-control"%>
</div>
<div>
	<%= f.button :submit , class: "btn-send" do %>
  	<i class="material-icons" style="font-size: 20px;">send</i>
	<% end %>
</div>
<% end %>