<p class="description-chat "> Conversation with: <span class="orange-text-2"><%=@conversation.name %></span></p>
<ul id= '<%= "#{@conversation.id}"%>'>
	<% if @messages%>
		<%@messages.each do |message|%>
			<div class="<%= message.sender%>"><%= message.body %></div>
		<%end%>
	<%end%>

</ul>
<%= render partial: '/messages/form_messages', locals: { message: @message }%>

<script>
	App.cable.connect()
</script>
