<%= form_for [@quotation]  do |f| %>
	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>          
      <%= f.text_field :first_name, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
      <label for="icon_prefix">First Name</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>          
      <%= f.text_field :last_name, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
    	<label for="icon_prefix">Last Name</label>
    </div>
  </div>
  <div class="row">      
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>          
			<%= f.text_field :title, class: "validate", :html=>{:id=>"icon_prefix"}%>
			<label for="icon_prefix">Title</label>
		</div>
  </div>
  <div class="row">      
   	<div class="input-field col s6">
    	<i class="material-icons prefix">domain</i>          
     	<%= f.text_field :company, class: "validate", :html=>{:id=>"icon_prefix"} , required:true%>
    		<label for="icon_prefix">Company</label>
  		</div>
	</div>

	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">phone</i>
      <%= f.text_field :phone, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
      <label for="icon_telephone">Telephone</label>
    </div>
  </div>
  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">email</i>          
			<%= f.email_field :email, :html=>{:id=>"icon_prefix"},required:true%>
			<label for="icon_prefix">E-mail</label>
		</div>
  </div>

  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">comment</i>          
		 	<%= f.text_area :comments, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},required:true%>
				<label for="icon_prefix">Comments</label>
			</div>
  </div>

  <div class="row">       
		<!-- <%= f.submit 'Send', class: "btn-send" %> -->
		<%= f.button :submit , class: "btn-send" do %>
			<i class="material-icons send" style="font-size: 20px;">send</i>
		<% end %>			
  </div>
<% end %>



