<style type="text/css">
  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
</style>
<div class="modal-wrap">
  <div class="modal-header">
    <span class="is-active"></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="modal-bodies">
    <%= form_for [@quotation]  do |f| %>
    <div class="modal-body modal-body-step-1 is-showing">
      <div class="title">Step 1</div>
      <div class="description"></div>      
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>          
            <%= f.text_field :first_name, class: "validate", id:"quotation_first_name"%>
            <label for="quotation_first_name">First Name</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>          
            <%= f.text_field :last_name, class: "validate", id:"quotation_last_name" %>
            <label for="quotation_last_name">Last Name</label>
          </div>
        </div>
        <div class="row">      
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>        
            <%= f.text_field :title, class: "validate", id:"quotation_title"%>
            <label for="quotation_title">Title</label>
          </div>
        </div>
        <div class="row">      
          <div class="input-field col s6">
            <i class="material-icons prefix">domain</i>          
            <%= f.text_field :company, class: "validate", id:"quotation_company"%>
              <label for="quotation_company">Company</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <%= f.text_field :phone, class: "validate", id:"quotation_phone"%>
            <label for="quotation_phone">Telephone</label>
          </div>
        </div>
        <div class="text-center button-region">
          <div class="button foward">Next</div>
        </div>      
    </div>

    <div class="modal-body modal-body-step-2">
      <div class="title">Step 2</div>
      <div class="description"></div>      

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>          
          <%= f.email_field :email, id:"quotation_email"%>
          <label for="quotation_email">E-mail</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">comment</i>          
          <%= f.text_area :comments, class: "validate materialize-textarea", id:"quotation_comments"%>
          <label for="quotation_comments">Comments</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12 s12">
          <i class="material-icons prefix">markunread_mailbox</i>     
          <%= f.text_field :origin_city, class: "validate autocomplete city", id:"quotation_origin_city"%>
          <label for="quotation_origin_city">Origin city</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12 s12">
          <i class="material-icons prefix">map</i>          
          <%= f.text_field :origin_zipcode, class: "validate  ", id:"quotation_origin_zipcode"%>
          <label for="quotation_origin_zipcode">Origin Zipcode</label> 
        </div>
      </div>
      <div class="text-center button-region">
        <div class="button back">Back</div>
        <div class="button foward">Next</div>        
      </div>
      
    </div>

    <div class="modal-body modal-body-step-3">
      <div class="title">Step 3</div>
      <div class="description"></div>
   

        <div class="row">
          <div class="input-field col m12 s12">
            <i class="material-icons prefix">markunread_mailbox</i> 
            <%= f.text_field :destination_city, class: "validate autocomplete city", id:"quotation_destination_city"%>
            <label for="quotation_destination_city">Destination city</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12 s12">
            <i class="material-icons prefix">map</i>          
            <%= f.text_field :destination_zipcode, class: "validate ", id:"quotation_destination_zipcode"%>
            <label for="quotation_destination_zipcode">Destination Zipcode</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">comment</i>          
            <%= f.text_field :commodity, class: "validate", id:"quotation_commodity"%>
            <label for="quotation_commodity">commodity</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col m12 s12">       
            <label>        
              <input type="checkbox" name="quotation[hazardous]" id="quotation_bonded_cargo">
              <span>Hazardous</span>
            </label>
          </div>

          <div class="input-field col m12 s12">      
            <label>
              <input type="checkbox" name="quotation[bonded_cargo]" id="quotation_bonded_cargo">
              <span>Bonded Cargo</span>
            </label>         
          </div>            
        </div>
      <div class="text-center button-region">
        <div class="button back">Back</div>
        <div class="button foward">Next</div> 
      </div>
    </div>

    <div class="modal-body modal-body-step-2">
      <div class="title">Step 4</div>
      <div class="description"></div>      
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">comment</i>          
          <input class="validate"   type="text" name="quotation[overweight]" id="quotation_overweight">
            <label for="quotation_overweight">Overweight</label>
          </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>          
          <%= f.text_field :pickup_date, class: "validate datepicker", id:"quotation_pickup_date"%>
          <label for="quotation_pickup_date">PickUp Date</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>          
          <%= f.text_field :drop_date, class: "validate datepicker", id:"quotation_drop_date"%>
          <label for="quotation_drop_date">Drop Date</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">comment</i>          
          <%= f.text_field :equipment_type, class: "validate", id:"quotation_equipment_type"%>
          <label for="quotation_equipment_type">Equipment Type</label>
        </div>
      </div> 

      <div class="text-center button-region">    
      <!-- <input type="submit" name="commit" value="Send" class="btn-send" data-disable-with="Send" /> -->
        <div class="button back">Back</div>
        <%= f.button :submit , class: "btn-send button" do %>
          <i class="material-icons send" style="font-size: 20px;">send</i>
        <% end %>             
      </div>       
    </div>

    <% end %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true
    });
    $.ajaxSetup({
        headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
      });
    $("form").submit(function(e) {

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.          
         });

        e.preventDefault(); // avoid to execute the actual submit of the form.
      });


    $('.datepicker').datepicker();
    $.ajax({
        url: "/cities",
        context: document.body
      })
      .done(function(data) {
        $('input.autocomplete').autocomplete({
        data: data,
        });
      });

    $("#quotation_origin_zipcode").focus(function(){
       let cityo=$("#quotation_origin_city").val()
       if (cityo !== "") {
        $.ajax({
        url: "/zipcodes?name="+cityo,
        context: document.body
        })
        .done(function(data) {
          $('#quotation_origin_zipcode').autocomplete({
          data: data,
          });
        
        });
      }
    })

    $("#quotation_destination_zipcode").focus(function(){
       let cityo=$("#quotation_destination_city").val()
        if (cityo !== "") {
        $.ajax({
        url: "/zipcodes?name="+cityo,
        context: document.body
        })
        .done(function(data) {
          $('#quotation_destination_zipcode').autocomplete({
          data: data,
          });
        });
      }
    })
  });
</script>
<script type="text/javascript">

  $('.foward').click(function(){
  var $btn = $(this),
      $step = $btn.parents('.modal-body'),
      stepIndex = $step.index()-2,
      $pag = $('.modal-header span').eq(stepIndex);

  if(stepIndex === 0 || stepIndex === 1 || stepIndex === 2) { foward($step, $pag); }  
});

  $('.back').click(function(){
  var $btn = $(this),
      $step = $btn.parents('.modal-body'),
      stepIndex = $step.index()-2,
      $pag = $('.modal-header span').eq(stepIndex);

  if(stepIndex === 3 || stepIndex === 1 || stepIndex === 2) { back($step, $pag); }  
});


function foward($step, $pag){

  // animate the step out
  $step.addClass('animate-out');
  
  // animate the step in
  setTimeout(function(){
    $step.removeClass('animate-out is-showing')
         .next().addClass('animate-in');
    $pag.removeClass('is-active')
          .next().addClass('is-active');
  }, 500);
  
  // after the animation, adjust the classes
  setTimeout(function(){
    $step.next().removeClass('animate-in')
          .addClass('is-showing');
    
  }, 500);
}

function back($step, $pag){

  // animate the step out
  $step.addClass('animate-out');
  
  // animate the step in
  setTimeout(function(){
    $step.removeClass('animate-out is-showing')
         .prev().addClass('animate-in');
    $pag.removeClass('is-active')
          .prev().addClass('is-active');
  }, 500);
  
  // after the animation, adjust the classes
  setTimeout(function(){
    $step.prev().removeClass('animate-in')
          .addClass('is-showing');
    
  }, 500);
}
</script>



