<%= form_for [@quotation]  do |f| %>
	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>          
      <%= f.text_field :first_name, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
      <label for="icon_prefix">First Name</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>          
      <%= f.text_field :last_name, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
    	<label for="icon_prefix">Last Name</label>
    </div>
  </div>
  <div class="row">      
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>          
			<%= f.text_field :title, class: "validate", :html=>{:id=>"icon_prefix"}%>
			<label for="icon_prefix">Title</label>
		</div>
  </div>
  <div class="row">      
   	<div class="input-field col s6">
    	<i class="material-icons prefix">domain</i>          
     	<%= f.text_field :company, class: "validate", :html=>{:id=>"icon_prefix"} , required:true%>
    		<label for="icon_prefix">Company</label>
  		</div>
	</div>

	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">phone</i>
      <%= f.text_field :phone, class: "validate", :html=>{:id=>"icon_prefix"},required:true%>
      <label for="icon_telephone">Telephone</label>
    </div>
  </div>
  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">email</i>          
			<%= f.email_field :email, :html=>{:id=>"icon_prefix"},required:true%>
			<label for="icon_prefix">E-mail</label>
		</div>
  </div>

  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">comment</i>          
		 	<%= f.text_area :comments, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},required:true%>
				<label for="icon_prefix">Comments</label>
			</div>
  </div>

  <br>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">markunread_mailbox</i> 
      <input id="origin-city" type="text" class="validate autocomplete city">
      <label for="disabled">Origin city</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">map</i>          
      <%= f.text_field :origin_zipcode, class: "validate  ", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">Origin Zipcode</label>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">markunread_mailbox</i> 
      <input id="destination-city" type="text" class="validate autocomplete city">
      <label for="disabled">Destination city</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">map</i>          
      <%= f.text_field :destination_zipcode, class: "validate ", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">Destination Zipcode</label>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">comment</i>          
      <%= f.text_field :commodity, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">commodity</label>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s6">       
      <label>        
        <input type="checkbox" name="quotation[hazardous]" id="quotation_bonded_cargo" />
        <span>Hazardous</span>
      </label>
    </div>

    <div class="input-field col s6">      
      <label>
        <input type="checkbox" name="quotation[bonded_cargo]" id="quotation_bonded_cargo" />
        <span>Bonded Cargo</span>
      </label>         
    </div>
      
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">comment</i>          
      <%= f.text_field :overweight, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">Overweight</label>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">date_range</i>          
      <%= f.text_field :pickup_date, class: "validate datepicker", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">PickUp Date</label>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">date_range</i>          
      <%= f.text_field :drop_date, class: "validate datepicker", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">Drop Date</label>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">comment</i>          
      <%= f.text_field :equipment_type, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},required:true%>
        <label for="icon_prefix">Equipment Type</label>
      </div>
  </div>

  <div class="row">       
		<!-- <%= f.submit 'Send', class: "btn-send" %> -->
		<%= f.button :submit , class: "btn-send" do %>
			<i class="material-icons send" style="font-size: 20px;">send</i>
		<% end %>			
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $.ajax({
        url: "/cities",
        context: document.body
      })
      .done(function(data) {
        $('input.autocomplete').autocomplete({
        data: data,
        });
      });

    $("#quotation_origin_zipcode").focus(function(){
       let cityo=$("#origin-city").val()
        $.ajax({
        url: "/zipcodes?name="+cityo,
        context: document.body
        })
        .done(function(data) {
          $('#quotation_origin_zipcode').autocomplete({
          data: data,
          });
        });
    })

    $("#quotation_destination_zipcode").focus(function(){
       let cityo=$("#destination-city").val()
        $.ajax({
        url: "/zipcodes?name="+cityo,
        context: document.body
        })
        .done(function(data) {
          $('#quotation_destination_zipcode').autocomplete({
          data: data,
          });
        });
    })
  });
</script>



