<%= form_for [@quotation]  do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">account_circle</i>
      <%= best_in_place @quotation, :first_name, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">First Name</label>      
    </div>    
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">account_circle</i>
      <%= best_in_place @quotation, :last_name, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">Last Name</label>
    </div>
  </div>

  <div class="row">      
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">domain</i>
      <%= best_in_place @quotation, :company, :as => :input, :class=> "input-pos-form" %>         
      <label for="icon_prefix" class="active">Company</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">phone</i>
      <%= best_in_place @quotation, :phone, :as => :input, :class=> "input-pos-form" %>  
      <label for="icon_telephone" class="active">Telephone</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">email</i>
      <%= best_in_place @quotation, :email, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active" >E-mail</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>
      <%= best_in_place @quotation, :comments, :as => :textarea, :class=> "input-pos-form" %>     
      <label for="icon_prefix" class="active" >Comments</label>
      </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix icon-color">markunread_mailbox</i>
       <%= best_in_place @quotation, :origin_city, :as => :input, :class=> "input-pos-form" %>      
      <label for="disabled" class="active">Origin city</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">map</i>
      <%= best_in_place @quotation, :origin_zipcode, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">Origin Zipcode</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 ">
      <i class="material-icons prefix icon-color">markunread_mailbox</i>
      <%= best_in_place @quotation, :destination_city, :as => :input, :class=> "input-pos-form" %>
      <label for="disabled" class="active">Destination city</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">map</i>
      <%= best_in_place @quotation, :destination_zipcode, :as => :input, :class=> "input-pos-form" %>
      <label for="disabled" class="active">Destination Zipcode</label>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>          
      <%= best_in_place @quotation, :commodity, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">commodity</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 icon-color">       
      <label>        
       <%= f.check_box :hazardous, checked_value: @quotation.hazardous %>
      <span>Hazardous</span>
      </label>
    </div>

    <div class="input-field col s6 icon-color">      
      <label>       
        <%= f.check_box :bonded_cargo, checked_value: @quotation.bonded_cargo  %>
        <span>Bonded Cargo</span>
      </label>         
    </div>

    <div class="input-field col m12 s12">      
      <label>
        <%= f.check_box :residencial, checked_value: @quotation.bonded_cargo  %>        
        <span>Residencial</span>
      </label>         
    </div>
      
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>          
      <%= best_in_place @quotation, :overweight, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">Overweight</label>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">date_range</i>          
      <%= f.text_field :pickup_date, class: "validate datepicker", id:"quotation_pickup_date"%>
      <label for="quotation_pickup_date" class= "label-cursor active">PickUp Date</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">date_range</i>          
      <%= f.text_field :drop_date, class: "validate datepicker", id:"quotation_drop_date"%>
      <label for="quotation_drop_date" class= "label-cursor active">Drop Date</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">     
      <i class="material-icons prefix icon-color">comment</i>          
      <%= f.select(:equipment_type, Quotation::EQUIPMENT_TYPES, {include_blank: "Select something"}) %>
      <label for="icon_prefix" >Equipment Type</label>           
    </div>
  </div>

<% end %>

<%= javascript_include_tag "form_quotation" %>