<%= form_for [@quotation]  do |f| %>
	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">account_circle</i>
			<label for="icon_prefix" class="active">First Name</label>          
			<%= f.text_field :first_name, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
			
		</div>    
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">account_circle</i>          
			<%= f.text_field :last_name, class: "validate", :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="icon_prefix" class="active">Last Name</label>
		</div>
	</div>
	<div class="row">      
		<div class="input-field col s6 ">
			<i class="material-icons prefix icon-color">account_circle</i>          
			<%= f.text_field :title, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
			<label for="icon_prefix" class="active">Title</label>
		</div>
	</div>
	<div class="row">      
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">domain</i>          
			<%= f.text_field :company, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
				<label for="icon_prefix" class="active">Company</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">phone</i>
			<%= f.text_field :phone, :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="icon_telephone" class="active">Telephone</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">email</i>          
			<%= f.text_field :email, :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="icon_prefix" class="active" >E-mail</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">comment</i>          
			<%= f.text_area :comments, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"}, disabled: true%>
				<label for="icon_prefix" class="active" >Comments</label>
			</div>
	</div>
 	<div class="divider"></div>
	<div class="row">
		<div class="input-field col s12">
			<i class="material-icons prefix icon-color">markunread_mailbox</i> 
			<%= f.text_field :origin_city, class: "validate  ", :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="disabled" class="active">Origin city</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">map</i>          
			<%= f.text_field :origin_zipcode, class: "validate  ", :html=>{:id=>"icon_prefix"},disabled: true%>
				<label for="icon_prefix" class="active">Origin Zipcode</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s12 ">
			<i class="material-icons prefix icon-color">markunread_mailbox</i> 
			<%= f.text_field :destination_city, class: "validate  ", :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="disabled" class="active">Destination city</label>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">map</i>          
			<%= f.text_field :destination_zipcode, class: "validate  ", :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="disabled" class="active">Destination Zipcode</label>
			</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">comment</i>          
			<%= f.text_field :commodity, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},disabled:true%>
				<label for="icon_prefix" class="active">commodity</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s6 icon-color">       
			<label>        				
				<%= f.check_box :hazardous, checked_value: @quotation.hazardous ,disabled: true%>
				<span>Hazardous</span>
			</label>
		</div>

		<div class="input-field col s6 icon-color">      
			<label>				
				<%= f.check_box :bonded_cargo, checked_value: @quotation.bonded_cargo ,disabled: true %>
				<span>Bonded Cargo</span>
			</label>         
		</div>
			
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">comment</i>          
			<%= f.text_field :overweight, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},disabled:true%>
				<label for="icon_prefix" class="active">Overweight</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">date_range</i>          
			<%= f.text_field :pickup_date, class: "validate datepicker", :html=>{:id=>"icon_prefix"},disabled:true%>
				<label for="icon_prefix" class="active">PickUp Date</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">date_range</i>          
			<%= f.text_field :drop_date, class: "validate datepicker", :html=>{:id=>"icon_prefix"},disabled:true%>
				<label for="icon_prefix" class="active">Drop Date</label>
			</div>
	</div>

	<div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix icon-color">comment</i>          
			<%= f.text_field :equipment_type, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"},disabled:true%>
				<label for="icon_prefix" class="active">Equipment Type</label>
			</div>
	</div>

<% end %>


