<style>
  .modal {
  height: 394px;
  }
  @media only screen and (min-width: 601px){
    .datepicker-modal {
        max-width: 625px;
    }
  }
</style>
<%= form_for [@quotation]  do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">account_circle</i>
      <%= best_in_place @quotation, :first_name, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">First Name</label>      
    </div>    
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">account_circle</i>
      <%= best_in_place @quotation, :last_name, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">Last Name</label>
    </div>
  </div>

  <div class="row">      
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">domain</i>
      <%= best_in_place @quotation, :company, :as => :input, :class=> "input-pos-form" %>         
      <label for="icon_prefix" class="active">Company</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">phone</i>
      <%= best_in_place @quotation, :phone, :as => :input, :class=> "input-pos-form" %>  
      <label for="icon_telephone" class="active">Telephone</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">email</i>
      <%= best_in_place @quotation, :email, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active" >E-mail</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>
      <%= best_in_place @quotation, :comments, :as => :textarea, :class=> "input-pos-form" %>     
      <label for="icon_prefix" class="active" >Comments</label>
      </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="input-field col m12 s12">
      <i class="material-icons prefix icon-color">markunread_mailbox</i>     
      <%= f.text_field :origin_city, class: "validate autocomplete city", id:"quotation_origin_city"%>
      <label for="quotation_origin_city " class= "label-cursor active">Origin city</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m12 s12">
      <i class="material-icons prefix icon-color">map</i>          
      <%= f.text_field :origin_zipcode, class: "validate  autocomplete", id:"quotation_origin_zipcode"%>
      <label for="quotation_origin_zipcode" class= "label-cursor active">Origin Zipcode</label> 
    </div>
  </div>

  <div class="row">
    <div class="input-field col m12 s12">
      <i class="material-icons prefix icon-color">markunread_mailbox</i> 
      <%= f.text_field :destination_city, class: "validate autocomplete city", id:"quotation_destination_city"%>
      <label for="quotation_destination_city" class= "label-cursor active">Destination city</label>
    </div>
  </div>
          <div class="row">
          <div class="input-field col m12 s12">
            <i class="material-icons prefix icon-color">map</i>          
            <%= f.text_field :destination_zipcode, class: "validate", id:"quotation_destination_zipcode"%>
            <label for="quotation_destination_zipcode" class= "label-cursor active">Destination Zipcode</label>
          </div>
        </div>
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>          
      <%= best_in_place @quotation, :commodity, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">commodity</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 icon-color">       
      <label>        
       <%= f.check_box :hazardous, checked_value: @quotation.hazardous %>
      <span>Hazardous</span>
      </label>
    </div>

    <div class="input-field col s6 icon-color">      
      <label>       
        <%= f.check_box :bonded_cargo, checked_value: @quotation.bonded_cargo  %>
        <span>Bonded Cargo</span>
      </label>         
    </div>

    <div class="input-field col m12 s12">      
      <label>
        <%= f.check_box :residencial, checked_value: @quotation.bonded_cargo  %>        
        <span>Residencial</span>
      </label>         
    </div>
      
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">comment</i>          
      <%= best_in_place @quotation, :overweight, :as => :input, :class=> "input-pos-form" %>
      <label for="icon_prefix" class="active">Overweight</label>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">date_range</i>          
      <%= f.text_field :pickup_date, class: "validate datepicker", id:"quotation_pickup_date"%>
      <label for="quotation_pickup_date" class= "label-cursor active">PickUp Date</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix icon-color">date_range</i>          
      <%= f.text_field :drop_date, class: "validate datepicker", id:"quotation_drop_date"%>
      <label for="quotation_drop_date" class= "label-cursor active">Drop Date</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">     
      <i class="material-icons prefix icon-color">comment</i>          
      <%= f.select(:equipment_type, Quotation::EQUIPMENT_TYPES, {include_blank: "Select something"}) %>
      <label for="icon_prefix" >Equipment Type</label>           
    </div>
  </div>

<% end %>


<%= javascript_include_tag "form_quotation" %>