<%= form_for [@quotation]  do |f| %>
	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <label for="icon_prefix" class="active">First Name</label>          
      <%= f.text_field :first_name, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
      
    </div>    
  </div>

  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>          
      <%= f.text_field :last_name, class: "validate", :html=>{:id=>"icon_prefix"},disabled: true%>
      <label for="icon_prefix" class="active">Last Name</label>
    </div>
  </div>
  <div class="row">      
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>          
			<%= f.text_field :title, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
			<label for="icon_prefix" class="active">Title</label>
		</div>
  </div>
  <div class="row">      
   	<div class="input-field col s6">
    	<i class="material-icons prefix">domain</i>          
     	<%= f.text_field :company, class: "validate", :html=>{:id=>"icon_prefix"}, disabled: true%>
    		<label for="icon_prefix" class="active">Company</label>
  		</div>
	</div>

	<div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">phone</i>
      <%= f.text_field :phone, :html=>{:id=>"icon_prefix"},disabled: true%>
      <label for="icon_telephone" class="active">Telephone</label>
    </div>
  </div>
  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">email</i>          
			<%= f.text_field :email, :html=>{:id=>"icon_prefix"},disabled: true%>
			<label for="icon_prefix" class="active" >E-mail</label>
		</div>
  </div>

  <div class="row">
		<div class="input-field col s6">
			<i class="material-icons prefix">comment</i>          
		 	<%= f.text_area :comments, class: "validate materialize-textarea", :html=>{:id=>"icon_prefix"}, disabled: true%>
				<label for="icon_prefix" class="active" >Comments</label>
			</div>
  </div> 
<% end %>


