<%= form_for message  ,:remote => true do |f| %>

<div class="form-group">
	<%= f.label "Clienteid" %>
   <input type="text" name="client[user_id]">	
</div>

<div class="form-group">
	<%= f.label "Respuesta:" %>
    <%= f.text_area :body, class: "form-control"%>
</div>

	<%= f.submit %>
<% end %>
