<div class="row d-flex section-box justify-content-md-center" id="advantages" >
    <div class="col-12 d-flex  justify-content-center align-items-center">
      <p class="title-text squadron">Advantages</p>
    </div>

  </div>
  <div class="row section-box container-fluid" id = 'adv-section-bigscreen' >
    <div id="advantage-container" class="col-xs-12 col-sm-12 col-md-12">
        <div class="advantage-menu">
            <ul class="collection-container">
                <li class="collection-item l-1" onclick="changeItem(1)"><span class="bullet-advantage"> - </span>Service 24 Hours a Day -7 Days a Week</li>
                <li class="collection-item l-2" onclick="changeItem(2)"><span class="bullet-advantage"> - </span>Asset Based</li>
                <li class="collection-item l-4" onclick="changeItem(4)"><span class="bullet-advantage"> - </span>GPS Enabled Trucks and Chassis</li>
                <li class="collection-item l-5" onclick="changeItem(5)"><span class="bullet-advantage"> - </span>Competitive Rates</li>
                <li class="collection-item l-6" onclick="changeItem(6)"><span class="bullet-advantage"> - </span>Pilot Car Services</li>
                <li class="collection-item l-7" onclick="changeItem(7)"><span class="bullet-advantage"> - </span>Online Payment</li>
                <li class="collection-item l-8" onclick="changeItem(8)"><span class="bullet-advantage"> - </span>Secured Yard</li>
              </ul>
        </div>
        <div class="advantage-info">
            <div class="advantage-show i-1 active">
                <div class="advantage-image">
                    <%= image_tag('service_27_7.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                        We offer Around-the-clock operation. Local deliveries? Not a problem.Contact us to find out how we can prevent delays and provide you with our on time commitment and to get a custom quote.
                    </p>
                    <p><span class="bullet-advantage card-text"> - </span>Port drayage</p>
                    <p><span class="bullet-advantage card-text"> - </span>Local business trucking</p>
                </div>
            </div>

            <div class="advantage-show i-2">
                <div class="advantage-image">
                    <%= image_tag('asset_based.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text" >
                        As an asset-based transportation carrier, we own equipment such as trucks, warehouse, and tools. That's how we are able to keep track of your shipment so closely. We use our equipment to store and ship freight for our clients. Drayage Florida  has a long history in the shipping business and would love to know what specifics you need from us. Chat with us today.
                    </p>
                </div>
            </div>

            <div class="advantage-show i-4">
                <div class="advantage-image">
                    <%= image_tag('GPS_enabled_truck.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                            Do you want to check on your shipment? Give us a call. We can always check to see how far along each truck/ chassis is. Your order is very important to us and that’s why we are always ready for your call.
                    </p>
                </div>
            </div>

            <div class="advantage-show i-5">
                <div class="advantage-image">
                    <%= image_tag('competetive_rates.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                        Thanks to our clear online quote services, we are able to provide an affordable rate that you can check with other providers.
                    </p>
                </div>
            </div>

            <div class="advantage-show i-6">
                <div class="advantage-image">
                    <%= image_tag('pilot_car_services.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                            A pilot car driver works in conjunction with the driver of an oversize truckload to make sure the truck reaches its destination safely. The pilot driver travels in front of or in the back of the truck in a separate vehicle, warning the public if there are traffic changes or obstacles due to the truckload.
                    </p>
                </div>
            </div>

            <div class="advantage-show i-7">
                <div class="advantage-image">
                    <%= image_tag('online_payment.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text center-text">
                        We accept online payment from any credit/ debit card.
                    </p>
                </div>
            </div>

            <div class="advantage-show i-8">
                <div class="advantage-image">
                    <%= image_tag('secured_yard.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    Drayage Florida has around the clock security at the yard to ensure its clients’ containers are safe and sound at all times.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class = "accordion" id = "accordionAdvantages">
	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading1'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse1' aria-expanded = 'true' aria-controls = 'collapse1'>
				<b>Service 24 Hours a Day -7 Days a Week</b>
			</button>
		</div>

		<div id = 'collapse1' class = 'collapse show accordion-custom' aria-labelledby = 'heading1' data-parent = '#accordionAdvantages'>
			<div class = 'card-body'>
				 <div class="mb-5 advantage-image text-center">
						<%= image_tag('service_27_7.svg', size: '100')%>
				</div>

						<p class="card-text">
								We offer Around-the-clock operation. Local deliveries? Not a problem.Contact us to find out how we can prevent delays and provide you with our on time commitment and to get a custom quote.
						</p>
						<p><span class="bullet-advantage card-text"> - </span>Port drayage</p>
						<p><span class="bullet-advantage card-text"> - </span>Local business trucking</p>

			</div>
		</div>
	</div>

	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading2'>
			<button class = " btn-link w-100 accordion-custom accordion-custom" data-toggle = 'collapse' data-target = '#collapse2' aria-expanded = 'true' aria-controls = 'collapse2'>
				<b>Asset Based</b>
			</button>
		</div>

		<div id = 'collapse2' class = 'collapse' aria-labelledby = 'heading2' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
				 <div class="mb-5 advantage-image text-center">
                    <%= image_tag('asset_based.svg', size: '100')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text" >
                        As an asset-based transportation carrier, we own equipment such as trucks, warehouse, and tools. That's how we are able to keep track of your shipment so closely. We use our equipment to store and ship freight for our clients. Drayage Florida  has a long history in the shipping business and would love to know what specifics you need from us. Chat with us today.
                    </p>
                </div>
			</div>
		</div>
	</div>

	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading4'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse4' aria-expanded = 'true' aria-controls = 'collapse4'>
				<b>GPS Enabled Trucks and Chassis</b>
			</button>
		</div>

		<div id = 'collapse4' class = 'collapse' aria-labelledby = 'heading4' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
				<div class="mb-5 advantage-image text-center">
                    <%= image_tag('GPS_enabled_truck.svg', size: '100')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                            Do you want to check on your shipment? Give us a call. We can always check to see how far along each truck/ chassis is. Your order is very important to us and that’s why we are always ready for your call.
                    </p>
                </div>
		    </div>
	    </div>
    </div>
	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading5'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse5' aria-expanded = 'true' aria-controls = 'collapse5'>
				<b>Competitive Rates</b>
			</button>
		</div>

		<div id = 'collapse5' class = 'collapse' aria-labelledby = 'heading5' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
				<div class="mb-5 advantage-image text-center">
                    <%= image_tag('competetive_rates.svg', size:'100')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                        Thanks to our clear online quote services, we are able to provide an affordable rate that you can check with other providers.
                    </p>
                </div>
			</div>
		</div>
	</div>

	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading6'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse6' aria-expanded = 'true' aria-controls = 'collapse6'>
				<b>Pilot Car Services</b>
			</button>
		</div>

		<div id = 'collapse6' class = 'collapse' aria-labelledby = 'heading6' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
				<div class="mb-5 advantage-image text-center">
                    <%= image_tag('pilot_car_services.svg', size: 100)%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                            A pilot car driver works in conjunction with the driver of an oversize truckload to make sure the truck reaches its destination safely. The pilot driver travels in front of or in the back of the truck in a separate vehicle, warning the public if there are traffic changes or obstacles due to the truckload.
                    </p>
                </div>
			</div>
		</div>
	</div>

	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading7'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse7' aria-expanded = 'true' aria-controls = 'collapse7'>
				<b>Online Payment</b>
			</button>
		</div>

		<div id = 'collapse7' class = 'collapse' aria-labelledby = 'heading7' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
								<div class="mb-5 advantage-image text-center">
                    <%= image_tag('online_payment.svg', size: 100)%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text center-text">
                        We accept online payment from any credit/ debit card.
                    </p>
                </div>
			</div>
		</div>
	</div>

	<div class = 'card'>
		<div class = "card-header accordion-custom" id = 'heading8'>
			<button class = " btn-link w-100 accordion-custom" data-toggle = 'collapse' data-target = '#collapse8' aria-expanded = 'true' aria-controls = 'collapse8'>
				<b>Secured Yard</b>
			</button>
		</div>

		<div id = 'collapse8' class = 'collapse' aria-labelledby = 'heading8' data-parent = '#accordionAdvantages'>
			<div class = 'card-body accordion-custom'>
				<div class="mb-5 advantage-image text-center">
                    <%= image_tag('secured_yard.svg', size: 100)%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    Drayage Florida has around the clock security at the yard to ensure its clients’ containers are safe and sound at all times.
                    </p>
                </div>
			</div>
		</div>
	</div>
</div>
