<section id="about-us" class="container-box">
    <section class="container-images">
        <img class="mySlides" src="http://dofground.com/images/drayage-01.jpg" >
        <img class="mySlides" src="http://dofground.com/images/drayage-02.jpg" style="display:none">
        <img class="mySlides" src="https://static1.squarespace.com/static/569e4bc2e0327c41cdaa8d61/t/57fea79e3e00bebf285e05a8/1476306936653/?format=2500w" style="display:none">
        <div class="container floating-section">
                <div class="row">
                    <div class="col s6">
                        <div class="logo-cont d-flex justify-content-center align-items-center">
                            <%= image_tag("logo.svg", class: 'logo-svg') %>
                        </div>
                    </div>
                    <div class="col s6 background-opacity">
                        <p class="title-text">Welcome to Drayage</p>
                        <p class="desc-text">Receive your quote in minutes!</p>  
                        <p class="desc-text">Upload your documents and pay online.</p> 
                        <p class="desc-text">Chat with us today!</p>
                        
                        <ul class="desc-text ">
                            <li><span> - </span>Port drayage</li>
                            <li><span> - </span>Intermodal</li>
                            <li><span> - </span>Rail</li>
                        </ul> 
                    </div>
                </div>                
            </div>
        
    </section>  

  <div class="section-box" id="services" >
    <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("florida.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Service</h4>
                                  <p class="card-text">We are strategically located in South Florida with easy access to all of Florida’s seaports making it easy to pull or deliver containers from the port as well as the rail yards.</p>
                                  <hr>
                                  <p>Ports we currently service:</p>
                                  <ul class="services">
                                      <li><span> - </span>Miami</li>
                                      <li><span> - </span>Everglades</li>
                                      <li><span> - </span>Palm Beach</li>
                                      <li><span> - </span>Tampa Bay</li>
                                  </ul> 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("truck.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Service</h4>
                                    <p class="card-text">All drivers are TWIC® certified for entry into the port terminals.</p>
                                    <hr>
                                    <p class="card-text">                                    
                                    <ul class="services">
                                      <li><span> - </span>Full Truckload and LTL Trucking.</li>
                                      <li><span> - </span>Transloading.</li>
                                      <li><span> - </span>Load Consolidation/Deconsolidation.</li> 
                                      <li><span> - </span>Bonded Trucking & Bonded Warehousing.</li>
                                      <li><span> - </span>Brokerage</li>
                                      <li><span> - </span>Bonded Carrier and Warehouse.</li> 
                                      <li><span> - </span>Local Deliveries.</li>
                                    </ul> 
                                  </p>   
                              </div>
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("clock.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">24/7</h4>
                                  <p class="card-text">We offer the ability to pull containers effectively and with ease with our partners’ asset-based fleet 24 hours a day, 7 days a week.</p>
                                  
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- ./Services -->
      </div>      
  </div>
  <!-- ./Section-->

  <div class="row d-flex section-box justify-content-md-center" id="advantages" >
    <div class="col-12 d-flex  justify-content-center align-items-center">
      <p class="title-text">Advantages</p>        
    </div>     
    
       
    <!-- 
    <div class="d-flex section-box justify-content-md-center">
        <ul class="collection">
          <li class="collection-item">Service 24 Hours a Day -7 Days a Week</li>
          <li class="collection-item">Asset Based</li>
          <li class="collection-item">ELD Compliant</li>
          <li class="collection-item">GPS Enabled Trucks and Chassis</li>
          <li class="collection-item">Competitive Rates</li>
          <li class="collection-item">Pilot Car Services</li>
          <li class="collection-item">Online Payment</li>
          <li class="collection-item">Secured Yard</li>
        </ul>
    </div>
    -->
  </div>
  <div class="row section-box container-fluid" >
    <div id="advantage-container" class="col-xs-12 col-sm-12 col-md-12">
        <div class="advantage-menu">
          <ul>
            <li class="collection-item active">Service 24 Hours a Day -7 Days a Week</li>
            <li class="collection-item">Asset Based</li>
            <li class="collection-item">ELD Compliant</li>
            <li class="collection-item">GPS Enabled Trucks and Chassis</li>
            <li class="collection-item">Competitive Rates</li>
            <li class="collection-item">Pilot Car Services</li>
            <li class="collection-item">Online Payment</li>
            <li class="collection-item">Secured Yard</li>
          </ul>
        </div>
        <div class="advantage-info">
            <div class="advantage-show active">
                <div class="advantage-image">
                    <%= image_tag('service 27_7')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('asset_based')%>
                </div>
                <div>
                    <p>
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('ELD_compliant')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('GPS_enabled_truck')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('competetive_rates')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('pilot_car_services')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('online_payment')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show">
                <div class="advantage-image">
                    <%= image_tag('secured_yard')%>
                </div>
                <div>
                    <p>
                    is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>             
        </div>
                                
    </div> 
  <div>
  <div class="row d-flex section-box justify-content-md-center" id="Quote" >
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text">Quick Quote</p>
      <p class="desc-text">Our free online quotation will you some real money. You can fill out our form below and compare our prices to other shipping company quotes. It is quick and easy to use, our quote will go straight to your inbox, so you get quick response from us. You can always give us a call to see if there is anything else that Florida Drayage can do for you.</p>
    </div>
    <div  style ="width: 100%">
      <%= render partial: "/quotations/form_quotation"%>
    </div>
  </div>




<!---floating Button -->
<!---<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue">
    <i class="large material-icons">chat_bubble_outline</i>
  </a>
  <div class="chat-box"></div>
</div> -->
  <%= render partial:"/user/chat_box", layout: false  unless (current_user && (current_user.has_role? :admin)) %>
 
</section>
<script>
    indexUserInitialize();
</script>