<section id="about-us" class="container-box">
  <div class="row section-box" id="about">
        <div class="col-12 col-md-8 d-flex  flex-column justify-content-center align-items-center">
            <div class="logo-cont d-flex justify-content-center align-items-center">
                <%= image_tag("logo.svg", class: 'logo-svg') %>
            </div>
        </div>

        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <p class="title-text">welcome to drayage</p>
          <p class="desc-text">Write some description of Drayage or call to action or tell something about your business.</p>
        </div>
  </div>

  <div class="section-box" id="services" >
    <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("florida.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Service</h4>
                                  <p class="card-text">We are strategically located in South Florida with easy access to all of Florida’s seaports making it easy to pull or deliver containers from the port as well as the rail yards.</p>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("truck.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Service 2</h4>
                                  <p class="card-text">We offer Full Truckload and LTL Trucking, Transloading, Load Consolidation/Deconsolidation, Bonded Trucking & Bonded Warehousing, Brokerage, Bonded Carrier and Warehouse, and Local Deliveries.</p>
                                  
                              </div>
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("clock.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">24/7</h4>
                                  <p class="card-text">We are able to pull containers effectively and with ease utilizing our asset-based fleet 24 hours a day, 7 days a week.</p>
                                  
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- ./Services -->
      </div>      
  </div>
  <!-- ./Section-->

  <div class="row d-flex section-box justify-content-md-center" id="advantages" >
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text">Advantages</p>        
    </div>
    <div class="d-flex section-box justify-content-md-center">
        <ul class="collection">
          <li class="collection-item">Service 24 Hours a Day -7 Days a Week</li>
          <li class="collection-item">Asset Based</li>
          <li class="collection-item">ELD Compliant</li>
          <li class="collection-item">GPS Enabled Trucks and Chassis</li>
          <li class="collection-item">Competitive Rates</li>
          <li class="collection-item">Pilot Car Services</li>
          <li class="collection-item">Online Payment</li>
          <li class="collection-item">Secured Yard</li>
        </ul>
    </div>
  </div>

  <div class="row d-flex section-box justify-content-md-center " id="contact">
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text">Contact</p>
      <p class="desc-text">Write About the services of Drayage that you offer for your costumers.</p>
    </div>

    <div class="col-s6">
      <div class=" row contact-table" style="margin-left: 0; margin-right: 0">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center  contact-border-1">
            <i class="material-icons c-icon">email</i>

          <p class="contact-text">sales@drayage-fla.com</p>
        </div>
        <div class="col-6  d-flex flex-column justify-content-center align-items-center">
            <i class="material-icons c-icon">phone</i>
            <p class="contact-text">+1-202-555-0109</p>

        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center contact-border-1 contact-border-2">
          <i class="material-icons c-icon">place</i>
          <p class="contact-text">New York, NY 10005</p>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center contact-border-2">
          <i class="fab fa-linkedin c-icon"></i>
          <p class="contact-text">Some social network</p>
        </div>
      </div>
    </div>
  </div> 

  <div class="row d-flex section-box justify-content-md-center" id="Quote" >
      <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
        <p class="title-text">Quick Quote</p>
        <p class="desc-text">Send us a quote, we will contact you soon </p>
      </div>
    <div  style ="width: 100%">
      <%= render partial: "/quotations/form_quotation"%>
    </div>
  </div>




<!---floating Button -->
<!---<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue">
    <i class="large material-icons">chat_bubble_outline</i>
  </a>
  <div class="chat-box"></div>
</div> -->
  <%= render partial:"/user/chat_box", layout: false  unless (current_user && (current_user.has_role? :admin)) %>
 
</section>

