<section id="about-us" class="container-box">
    <section class="container-images">

        <%= image_tag('drayage-01.jpg', class: 'mySlides')%>
        <%= image_tag('drayage-02.jpg', class: 'mySlides', style:"display:none")%>
        <%= image_tag('drayage-03.png', class: 'mySlides', style:"display:none")%>

        <div class="container floating-section">
                <div class="row">
                        <div class="copy-container-up background-opacity-left">

                            <a href="/#Quote" style="text-decoration: none;"><div class="y-button"><p class="text-y-button">QUOTE NOW</p></div></a>
                            <div class="y-button" onclick="displayChat()"><p class="text-y-button">CHAT WITH A SPECIALIST</p></div>
                        </div>
                <div class="row w-100">
                    <div class="col s6">
                        <div class="logo-cont d-flex justify-content-center align-items-center">
                            <%= image_tag("logo.svg", class: 'logo-svg') %>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="copy-container-down background-opacity-right">
                        <p class="copy-title">Your freight is at the port.</p>
                        <p class="copy-title-b">Don't worry! We'll take it from there.</p>
                    </div>
                </div>
            </div>

</section>

 <%= render partial: "/user/services"%>

  <!-- ./Section-->

   <%= render partial: "/user/quotation"%>
<div>
  <div class="row d-flex section-box justify-content-md-center" id="Quote" >
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text squadron">Quick Quote</p>
      <p class="desc-text width-80 ">Our free online quotation will save you money. Fill out our form below and compare our prices to other shipping company quotes. It is quick and easy to use, our quote will go straight to your inbox, so you get a quick response from us. You can always give us a call to see if there is anything else that Drayage Florida can do for you.</p>
    </div>
    <div  style ="width: 100%">
      <%= render partial: "/quotations/form_quotation"%>
    </div>
  </div>
</div>




<!---floating Button -->
<div class="fixed-action-btn" id="chat-button" onclick="displayChat()">
    <a class="btn-floating btn-large jump">
        <%= image_tag('white-chat.svg', class: 'chat-logo')%>
    </a>
    <!-- <div class="chat-box"></div> -->
</div>
<%= render partial:"/user/chat_box", layout: false  unless (current_user && (current_user.has_role? :admin)) %>

</section>
<script>
// indexUserInitialize();
showButtonChat()
</script>
