<section id="about-us" class="container-box">
  <div class="row section-box" id="about">
        <div class="col-12 col-md-3 d-flex  flex-column justify-content-center align-items-center">
          <p class="title-text">welcome to drayage</p>
          <p class="desc-text">Write some description of Drayage or call to action or tell something about your business.</p>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="logo-cont d-flex justify-content-center align-items-center">
                <%= image_tag("logo.svg", class: 'logo-svg') %>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center">
          <div class="icon-chat">
              <%= image_tag("chat.svg", class: 'logo-svg') %>
          </div>
          <p class="desc-text">you have something to deliver? Chat with us</p>
         </div>
  </div>


    <div class="row section-box" id="services">
        <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
          <p class="title-text">Services</p>
          <p class="desc-text">Write About the services of Drayage that you offer for your costumers.</p>
        </div>

        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <div class="icon-chat">
              <%= image_tag("pack.svg", class: 'service-logo') %>
          </div>
          <p class="title-text">Service</p>
          <p class="desc-text">Chat with us and know the best delivery options we have for you.</p>
         </div>

        <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
          <div class="icon-chat">
            <%= image_tag("truck.svg", class: 'service-logo') %>
          </div>
            <p class="title-text">Service 2</p>
          <p class="desc-text">Chat with us and know the best delivery options we have for you.</p>
         </div>

         <div class="col-12 col-md-4 d-flex flex-column justify-content-center align-items-center">
           <div class="icon-chat">
               <%= image_tag("clock.svg", class: 'service-logo-2') %>
           </div>
            <p class="title-text">Service 3</p>
           <p class="desc-text">Chat with us and know the best delivery options we have for you.</p>
          </div>
    </div>

    <div class="row d-flex section-box justify-content-md-center " id="contact">
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text">Contact</p>
      <p class="desc-text">Write About the services of Drayage that you offer for your costumers.</p>
    </div>

    <div class="col-6">
      <div class=" row contact-table" style="margin-left: 0; margin-right: 0">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center  contact-border-1">
              <i class="material-icons c-icon">email</i>

          <p class="contact-text">youremail@gmail.com</p>
        </div>
        <div class="col-6  d-flex flex-column justify-content-center align-items-center">
              <i class="material-icons c-icon">phone</i>
              <p class="contact-text">+1-202-555-0109</p>

        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center contact-border-1 contact-border-2">
          <i class="material-icons c-icon">place</i>
          <p class="contact-text">New York, NY 10005</p>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center contact-border-2">
          <i class="fab fa-linkedin c-icon"></i>
          <p class="contact-text">Some social network</p>
        </div>
      </div>
    </div>
  </div>



<!---floating Button -->
<!---<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue">
    <i class="large material-icons">chat_bubble_outline</i>
  </a>
  <div class="chat-box"></div>
</div> -->

	<div id="live-chat">

		<header class="clearfix">

			<a href="#" class="chat-close">x</a>

			<h4>John Doe</h4>

			<!-- <span class="chat-message-counter">3</span> -->

		</header>

		<div class="chat">

			<div class="chat-history">

				<div class="chat-message clearfix">



					<div class="chat-message-content clearfix">

						<span class="chat-time">13:35</span>

						<h5>John Doe</h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>

				<div class="chat-message clearfix">



					<div class="chat-message-content clearfix">

						<span class="chat-time">13:37</span>

						<h5>Marco Biedermann</h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>

				<div class="chat-message clearfix">



					<div class="chat-message-content clearfix">

						<span class="chat-time">13:38</span>

						<h5>John Doe</h5>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->

				<hr>

			</div> <!-- end chat-history -->

			<p class="chat-feedback">Your partner is typing…</p>

			<form action="#" method="post">

				<fieldset>

					<input type="text" placeholder="Type your message…" autofocus>
					<input type="hidden">

				</fieldset>

			</form>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->






<!-- chat box -->

<script type="text/javascript">
$('#live-chat header').on('click', function() {

  $('.chat').slideToggle(300, 'swing');
  $('.chat-message-counter').fadeToggle(300, 'swing');

});

$('.chat-close').on('click', function(e) {

  e.preventDefault();
  $('#live-chat').fadeOut(300);

});
</script>



</section>

<!---<ul id="message-container"></ul>
<%= link_to "Create Chat",new_conversation_path%> -->
