<section id="about-us" class="container-box">
    <section class="container-images">
        <img class="mySlides" src="http://dofground.com/images/drayage-01.jpg" >
        <img class="mySlides" src="http://dofground.com/images/drayage-02.jpg" style="display:none">
        <img class="mySlides" src="https://static1.squarespace.com/static/569e4bc2e0327c41cdaa8d61/t/57fea79e3e00bebf285e05a8/1476306936653/?format=2500w" style="display:none">
        <div class="container floating-section">
                <div class="row">
                    <div class="col s6">
                        <div class="logo-cont d-flex justify-content-center align-items-center">
                            <%= image_tag("logo.svg", class: 'logo-svg') %>
                        </div>
                    </div>
                    <!--
                    <div class="col s6 background-opacity">
                        <p class="title-text">Welcome to Drayage</p>
                        <p class="desc-text">Receive your quote in minutes!</p>  
                        <p class="desc-text">Upload your documents and pay online.</p> 
                        <p class="desc-text">Chat with us today!</p>
                        
                        <ul class="desc-text ">
                            <li><span> - </span>Port drayage</li>
                            <li><span> - </span>Intermodal</li>
                            <li><span> - </span>Rail</li>
                        </ul> 
                    </div>
                    -->
                </div>
                <div class="row ">
                    <div class="copy-container background-opacity">
                        <p class="copy-title">South Florida Market Leaders</p>
                        <p class="copy-text">Your freight is at the port. Don't worry! We'll take it from there. We prevent port delays. Whether you need your merchandise shuttled to or from a local warehouse, trucked to a freight yard, or delivered to any other destination, near or far, Drayage Florida can deliver your containers from Point A to Point B simply and efficiently.</p>
                    </div>
                </div>             
            </div>
        
    </section>  
    <div class="section-box" id="services" >
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                    <p class="title-text squadron  d-flex justify-content-center">Welcome to Drayage Florida</p> 
                <p class="desc-text  d-flex text-center-welcome">We are a shipping company that's ready to help you. Receive your quote in minutes! Clients using our services can upload documents and pay online. Chat with us today to learn more about port drayage, intermodal and rail.</p>
            </div>
        </div>
    </div>
  <div class="section-box" id="services" >
    <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("florida.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Locations</h4>
                                  <p class="card-text">We are strategically located in South Florida with easy access to all of Florida’s seaports making it easy to pull or deliver containers from the port as well as the rail yards.</p>
                                  <hr>
                                  <p>Ports we currently service:</p>
                                  <ul class="services">
                                      <li><span> - </span>Miami</li>
                                      <li><span> - </span>Everglades</li>
                                      <li><span> - </span>Palm Beach</li>
                                      <li><span> - </span>Tampa Bay</li>
                                  </ul> 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip" ">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("truck.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">Service</h4>
                                    <p class="card-text">All drivers are TWIC® certified for entry into the port terminals.</p>
                                    <hr>
                                    <p class="card-text">                                    
                                    <ul class="services">
                                      <li><span> - </span>Full Truckload and LTL Trucking.</li>
                                      <li><span> - </span>Transloading.</li>
                                      <li><span> - </span>Load Consolidation/Deconsolidation.</li> 
                                      <li><span> - </span>Bonded Trucking & Bonded Warehousing.</li>
                                      <li><span> - </span>Brokerage</li>
                                      <li><span> - </span>Bonded Carrier and Warehouse.</li> 
                                      <li><span> - </span>Local Deliveries.</li>
                                    </ul> 
                                  </p>   
                              </div>
                          </div>
                      </div>    
                  </div>
              </div>
          </div>
          <!-- ./Services -->
          <!-- Services -->
          <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="image-flip">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card card-item">
                              <div class="card-body text-center">
                                  <p><%= image_tag("clock.svg", class: 'service-logo') %></p>
                                  <h4 class="card-title">24/7</h4>
                                  <p class="card-text">We offer the ability to pull containers effectively and with ease with our partners’ asset-based fleet 24 hours a day, 7 days a week.</p>
                                  
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <!-- ./Services -->
      </div>      
  </div>
  <!-- ./Section-->

  <div class="row d-flex section-box justify-content-md-center" id="advantages" >
    <div class="col-12 d-flex  justify-content-center align-items-center">
      <p class="title-text squadron">Advantages</p>        
    </div>     
    
  </div>
  <div class="row section-box container-fluid" >
    <div id="advantage-container" class="col-xs-12 col-sm-12 col-md-12">
        <div class="advantage-menu">
            <ul class="collection-container">
                <li class="collection-item l-1" onclick="changeItem(1)"><span class="bullet-advantage"> - </span>Service 24 Hours a Day -7 Days a Week</li>
                <li class="collection-item l-2" onclick="changeItem(2)"><span class="bullet-advantage"> - </span>Asset Based</li>
                <li class="collection-item l-3" onclick="changeItem(3)"><span class="bullet-advantage"> - </span>ELD Compliant</li>
                <li class="collection-item l-4" onclick="changeItem(4)"><span class="bullet-advantage"> - </span>GPS Enabled Trucks and Chassis</li>
                <li class="collection-item l-5" onclick="changeItem(5)"><span class="bullet-advantage"> - </span>Competitive Rates</li>
                <li class="collection-item l-6" onclick="changeItem(6)"><span class="bullet-advantage"> - </span>Pilot Car Services</li>
                <li class="collection-item l-7" onclick="changeItem(7)"><span class="bullet-advantage"> - </span>Online Payment</li>
                <li class="collection-item l-8" onclick="changeItem(8)"><span class="bullet-advantage"> - </span>Secured Yard</li>
              </ul>
        </div>
        <div class="advantage-info">
            <div class="advantage-show i-1 active">
                <div class="advantage-image">
                    <%= image_tag('service_27_7.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                        We offer Around-the-clock operation. Local deliveries? Not a problem.Contact us to find out how we can prevent delays and provide you with our on time commitment and to get a custom quote.
                    </p>
                    <p><span class="bullet-advantage card-text"> - </span>Port drayage</p>
                    <p><span class="bullet-advantage card-text"> - </span>Local business trucking</p>
                </div>
            </div>

            <div class="advantage-show i-2">
                <div class="advantage-image">
                    <%= image_tag('asset_based.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text" >
                        As an asset-based transportation carrier, we own equipment such as trucks, warehouse, and tools. That's how we are able to keep track of your shipment so closely. We use our equipment to store and ship freight for our clients. Florida Drayage has a long history in the shipping business and would love to know what specifics you need from us. Chat with us today.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-3">
                <div class="advantage-image">
                    <%= image_tag('ELD_compliant.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    We make sure that our drivers are safe by staying up to date on the latest devices that we use in our trucks.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-4">
                <div class="advantage-image">
                    <%= image_tag('GPS_enabled_truck.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    is simply dummy (4) text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-5">
                <div class="advantage-image">
                    <%= image_tag('competetive_rates.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    is simply dummy (5) text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-6">
                <div class="advantage-image">
                    <%= image_tag('pilot_car_services.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    is simply dummy (6) text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-7">
                <div class="advantage-image">
                    <%= image_tag('online_payment.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    is simply dummy (7) text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div> 

            <div class="advantage-show i-8">
                <div class="advantage-image">
                    <%= image_tag('secured_yard.svg')%>
                </div>
                <div class="advantage-txt">
                    <p class="card-text">
                    is simply dummy (8) text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>             
        </div>
                                
    </div> 
  <div>
  <div class="row d-flex section-box justify-content-md-center" id="Quote" >
    <div class="col-12 d-flex  flex-column justify-content-center align-items-center">
      <p class="title-text squadron">Quick Quote</p>
      <p class="desc-text width-80 ">Our free online quotation will save you money. Fill out our form below and compare our prices to other shipping company quotes. It is quick and easy to use, our quote will go straight to your inbox, so you get a quick response from us. You can always give us a call to see if there is anything else that Florida Drayage can do for you.</p>
    </div>
    <div  style ="width: 100%">
      <%= render partial: "/quotations/form_quotation"%>
    </div>
  </div>





<!---floating Button -->
<div class="fixed-action-btn" id="chat-button" onclick="displayChat()">
    <a class="btn-floating btn-large jump">
        <%= image_tag('white-chat.svg', class: 'chat-logo')%>
    </a>
    <!-- <div class="chat-box"></div> -->
</div>
<%= render partial:"/user/chat_box", layout: false  unless (current_user && (current_user.has_role? :admin)) %>

</section>
<script>
// indexUserInitialize();
showButtonChat()
</script>