<!DOCTYPE html>
<html>
  <head>
    <title>Florida Drayage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Carme' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <%= render "layouts/nav" %>
    <div class="body-container">
      <div class= "cont-flash-messages">
        <% flash.each do |key, value| %> 
          <% if value.is_a?(Array) %>
            <% value.each do |element|%>                            
              <div class="alert alert-<%= key %> alert-dismissible" style= "z-index: 1040;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= element %>                
              </div>
            <% end %>
          <% else %>
            <% key = key == 'notice'? 'info' : key %>
            <% key = key == 'alert'? 'warning' : key %>   
            <div class="alert alert-<%= key %>" style= "z-index: 1040;">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= value %>            
            </div>
          <% end %>        
        <% end %>
      </div>
      <%= yield %>
    </div>
    <% if(  user_signed_in?)%>
      <script >
        plantApp()
      </script>     
    <%end %>
    <div class="overlay"></div>
  </body>
</html>



